.login {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;

  .login-box {
      display: flex;
      flex-direction: column;
      background-color: white;
      border: 1px solid #eee;
      margin: auto;
      width: 450px;
      height: 480px;
      padding: 30px;
  }

  h1.title {
      height: 51px;
      width: 100%;
      font-family: Billabong;
      text-align: center;
  }

  input {
      margin: 5px;
      padding: 15px;
      background-color: #fafafa;
      border: 1px solid #efefef;
      border-radius: 5px;
  }

  button {
      margin: 15px 5px;
      padding: 15px;
      background-color: #0f76dc;
      border: 1px solid #0566c7;
      color: white;
      border-radius: 5px;
      font-size: 15px;

      &.inactive {
          opacity: .3;
      }

      &:not(.inactive):hover {
          opacity: .7;
          cursor: pointer;
      }
  }

  .find-passwd-str {
      align-self: center;
      padding-top: 100px;
      color: #003469;
      cursor: pointer;
  }
}

