@import './variables';

@mixin flex-code($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin login-mobile {
  @media (max-width: 875px) {
    @content;
  }
}

@mixin main-mobile {
  @media all and (min-width: 501px) {
    @content;
  }
}

@mixin main-small-tablet {
  @media all and (min-width: 640px) {
    @content;
  }
}

@mixin main-large-tablet {
  @media all and (min-width: 736px) {
    @content;
  }
}

@mixin main-pc {
  @media all and (min-width: 1000px) {
    @content;
  }
}

@mixin main-feed-react-icon {
  width: 22px;
  margin: 0 5px 3px 5px;
}
